.top {
   top: 0;
   left: 0;
   right: 0;
   background-color: $purple;
   box-shadow: 0 5px 10px rgba(98, 58, 146, 0.3);
   position: fixed;
   z-index: 99;
   padding: 9px 0;
   transform: translateY(-100%);
   transition: .6s;
   &.slideInDown {
      transform: translateY(0%);
   }
   @media (min-width: 990px) {
      padding-left: 15px;
      padding-right: 15px;
   }
   @media (max-width: 719px) {
      & .btn {
         padding: 14px calc(2.4% + 5px);
         font-size: 1.2em;
      }
   }
   @media (max-width: 500px) {
      & .btn {
         padding: 12px calc(2% + 4px);
         font-size: 1em;
      }
   }
   @media (max-width: 360px) {
      & .btn {
         padding: 11px calc(2% + 2px);
      }
   }
   .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
   }
   .btn {box-shadow: 0 10px 40px rgba(44,1,98,.35);}
}
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: calc(3.21vh + 15px) 0;
   z-index: 9;
   @media (min-width: 990px) {
      padding-left: 15px;
      padding-right: 15px;
   }
   @media (max-width: 800px){
      padding: calc(2.6vh + 14px) 0;
   }
   @media (max-width: 719px) {
      padding: calc(2.5vh + 7px) 0;
      & .btn {
         padding: 14px calc(2.4% + 5px);
         font-size: 1.2em;
      }
   }
   @media (max-width: 500px) {
      & .btn {
         padding: 12px calc(2% + 4px);
         font-size: 1em;
      }
   }
   @media (max-width: 360px) {
      & .btn {
         padding: 11px calc(2% + 2px);
      }
   }
   .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
   }
   .btn {box-shadow: 0 10px 40px rgba(44,1,98,.35);}
}
.header__phone {
   color: #2d1e40;
   font-size: calc(.5vw + 1.35em);
   font-weight: 700;
   transition: .3s;
   &:hover {opacity: 0.8;}
   @media (max-width: 719px) {
      font-size: calc(.4vw + 1.2em);
   }
   @media (max-width: 500px) {
      font-size: calc(.3vw + 1em);
   }
   @media (max-width: 380px) {
      font-size: calc(.3vw + 0.9em);
   }
   @media (max-width: 360px) {
      font-size: calc(.3vw + 0.88em);
      letter-spacing: -.03em
   }
}
.header__phone--sm {
   @media (min-width: 366px) {
      font-size: calc(.4vw + 1.022em);      
   }
}
