/*--- main styles ---*/
body {
	position: relative;
	color: #4a474e;
	font: 16px 'gothampro', Arial, sans-serif;
	font-weight: normal;
	line-height: 1.51;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media (max-width: 359px) {
		font-size: 15px;
	}
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 40vh;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
	z-index: 1;
}
.text-center {text-align: center;}

.title {
   font-size: calc(2vw + 2.1em);
   font-weight: 900;
   line-height: 1.1;
   color: $title;
   max-width: 900px;
   margin-bottom: .4em;
   @media (min-width: 2000px){
      font-size: em(72);
   }
   &--white {
      color: #fff;
   }
   &--center {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
   }
   &--accent {
      display: inline-block;
      position: relative;
      z-index: 1;
      &:before {
         content: '';
         z-index: -1;
         position: absolute;
         height: 96.8%;
         bottom: -.17em;
         left: -.1em;
         right: -.15em;
         background-repeat: no-repeat;
         background-size: contain;
         background-position: center
      }
   }
}
.ac {
   &-big-xl:before{ background-image: url(../img/decor/ac-big-xl.svg);}
   &-big-md:before{ background-image: url(../img/decor/ac-big-md.svg);}
   &-big-sm:before{ background-image: url(../img/decor/ac-big-sm.svg);}
   &-big:before{ background-image: url(../img/decor/ac-big.svg);}
   &-xl:before{
      background-image: url(../img/decor/ac-xl.svg);
      bottom: -.1em;
   }
   &-lg:before{ background-image: url(../img/decor/ac-lg.svg);}
   &-xs:before{ background-image: url(../img/decor/ac-xs.svg);}
}
.link {
   color: $purple;
   margin: 0 .1em;
}
.arrow {
   display: inline-block;
   width: 34px;
   height: 54px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   margin: 14px auto;
   @media (max-width: 991px){
      width: 32px;
      height: 44px;
   }
   &--dark {
      background-image: url(../img/decor/arrow-down-dark.png);
   }
   &--white {
      background-image: url(../img/decor/arrow-down-white.png);
   }
}
figure {
   position: relative;
   text-align: center;
}
.decor {
   position: absolute;
   // pointer-events: none;
   z-index: 1;
   &__el {
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }
}
