.title {
   // font-size: em(72);
   font-size: calc(2vw + 2.1em);
   line-height: 1.12;
   color: $primary;
   max-width: 900px;
   &--white {
      color: #fff;
   }
   &--center {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
   }
   &--accent {
      display: inline-block;
      position: relative;
      z-index: 1;
      &:before {
         content: '';
         z-index: -1;
         position: absolute;
         height: 96.8%;
         bottom: -.17em;
         left: -.1em;
         right: -.15em;
         background-repeat: no-repeat;
         background-size: contain;
         background-position: center
         // background-image: url(../img/decor/ac-big-sm.svg);
      }
   }
}
.ac {
   &-big-xl:before{ background-image: url(../img/decor/ac-big-xl.svg);}
   &-big-md:before{ background-image: url(../img/decor/ac-big-md.svg);}
   &-big-sm:before{ background-image: url(../img/decor/ac-big-sm.svg);}
   &-big:before{ background-image: url(../img/decor/ac-big.svg);}
   &-xl:before{ background-image: url(../img/decor/ac-xl.svg);}
   &-lg:before{ background-image: url(../img/decor/ac-lg.svg);}
   &-xs:before{ background-image: url(../img/decor/ac-xs.svg);}
}
.intro {
   min-height: 100vh;
   padding: calc(9.3em + 3.1vh) 0;
   background: url(../img/intro/bg.svg) center 98% no-repeat;
   background-size: cover;
}