//mixins & functions

//em -> px
$body-font-size: 16; // body font-size
@function em($pixels, $context: $body-font-size) {
  @return #{$pixels/$context}em;
}

//vertical align
@mixin valign(){
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    min-height: inherit;
    width: .1px;
  }
}

//loop
// @for $i from 1 through 9 {
//   .some__item {
//     &:nth-child(#{$i}) {
//       animation-delay: $i * (1s / 18);
//     }
//   }
// }