$primary:#20083d;
$primary2:#2d1e40;
$title: #452263;

$accent1: #8054b6;
$accent2: #8054b6;
$accent3: #ffe534;

$border: #b98eed;
$purple: #905dcf;
$muted:#897f93;

$ff: 'yanonekaffeesatz', sans-serif;