$accent1: #8054b6;
$accent2: #44344A;

$bg-light:#F1F1F1;
$bg-dark:#616160;
$bg-muted:#F8F7F6;

$primary:#20083d;
$title: #452263;
$text-white:#fff;
$text-muted:#bdbdbd;

// $ff: 'Montserrat', sans-serif;